<header>
    <div class="top-header">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" [(ngModel)]="searchText" />
                   <button (click)="handleButtonSearchClick()">log</button>
            <span class="input-group-text border-0" id="search-addon">

            <i class="fas fa-search"></i>
            </span>
        </div>
        <div class="user">
            <a href="/login">
                <i class="fas fa-user"></i>
                <img src="assets/images/user.png" alt="connexion icon" style="width: 60px">
            </a>
        </div>
    </div>
    <div class="bot-header">
        <div class="left-bot-header">
            <h2>
                Rediscover the classics with<br/> our retro DVD collection
            </h2>
        </div>
        <div class="center-bot-header">
            <img src="assets/images/RETRO_DVD_STORE.gif" alt="compagny logo" style="width: 140px">
        </div>
        <div class="right-bot-header">
            <h2>
                Since 1995
            </h2>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer>
    <p>@Copyright Retro-Dvd-Store. Tous droits réservés.</p>
</footer>

